.music-player-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.music-player-title {
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music-player-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.music-player-controls button {
  padding: 0;
  border: none;
  width: 2rem;
  box-shadow: none;
  background: none;
  font-size: 1.3rem;
  color: var(--second-text-color);
  cursor: pointer;
}

.music-player-progress-container {
  width: 100%;
  height: 0.5rem;
  background-color: #bde8ff;
  margin-top: 0px;
  border-radius: 3px;
  overflow: hidden;
}

.music-player-progress-bar {
  height: 100%;
  width: 0%;
  background: #fbb5b5;
  transition: width 0.2s;
}
